body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 401;
}

#outer-div {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
